/* Global styles */

body {
  background-color: hsl(219, 54%, 54%);
}

h1 {
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: center;
  background-color: hsl(219, 54%, 54%);
}

/* Left Pad styles */
.outerPad {
  position: relative;
  background-color: #e6e6e6;
  width: 24em;
  height: 24em;
  z-index: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftInternalPart {
  background-color: #e6e6e6;
  width: 15em;
  height: 15em;
  border: 0.2em;
  z-index: -2;
  border-style: solid;
  border-color: rgb(90, 90, 90);
  border-radius: 100%;
}

#leftExternalPart {
  box-shadow: -2.5em 1em 1em;
}

.innerPad {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowPad {
  display: grid;
  width: 10em;
  height: 10em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". up ."
    "left center right"
    ". down .";
}

.up {
  grid-area: up;
  background-color: rgb(56, 56, 56);
  border-top: 0.1em solid black;
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
}

.down {
  grid-area: down;
  background-color: rgb(56, 56, 56);
  border-bottom: 0.1em solid black;
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
}

.left {
  grid-area: left;
  background-color: rgb(56, 56, 56);
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  border-left: 0.1em solid black;
}

.right {
  grid-area: right;
  background-color: rgb(56, 56, 56);
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  border-right: 0.1em solid black;
}

.up:hover {
  background-color: rgb(109, 109, 109);
}

.down:hover {
  background-color: rgb(109, 109, 109);
}

.left:hover {
  background-color: rgb(109, 109, 109);
}

.right:hover {
  background-color: rgb(109, 109, 109);
}

.center {
  grid-area: center;
  background-color: rgb(56, 56, 56);
}

/* Right Central Pad */

#rightInternalPart {
  background-color: rgb(90, 90, 90);
  width: 22em;
  height: 22em;
  z-index: -2;
  border-radius: 100%;
}

#rightExternalPart {
  box-shadow: 2.5em 1em 1em;
}

/* Central Pad styles */

.centralPad {
  background-color: #e6e6e6;
  width: 45em;
  height: 19.2em;
  display: flex;
  flex-direction: column;
  margin-right: -12em;
  margin-left: -12em;
  z-index: 0;
  box-shadow: -10px 10px 25px black;
}

.upperCentralPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.bottomCentralPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

#consoleSubtitle {
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-size: 1em;
  display: block;
  transform: scaleX(2.12);
  text-align: center;
  background-color: rgb(90, 90, 90);
  color: #e6e6e6;
  width: max-content;
}

#consoleTitle {
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-size: 3em;
  margin-bottom: -10px;
  display: inherit;
  text-align: center;
  color: rgb(90, 90, 90);
  width: max-content;
}

/* Central buttons */

.centralButtons {
  width: 1em;
  height: 4em;
  background-color: rgb(100, 100, 100);
  border-radius: 3em;
  rotate: 45deg;
  border: solid 0.1em;
}

.centralButtons:hover{
  background-color: rgb(153, 153, 153);
}

.centralButtonText {
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  transform: scaleX(2.09);
  width: 2.5em;
  font-size: 1em;
}

.centralMidButtons {
  justify-content: space-between;
  display: flex;
  margin-top: 2em;
  width: 13em;
  flex-direction: row;
}

.centralMidText {
  display: flex;
  margin-top: 1em;
  width: 15em;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 3em;
}

#select {
  margin-left: 0.6em;
}

#start {
  margin-right: -0.8em;
}

/* Right central pad */

.actionbuttons {
  display: flex;
  flex-direction: column;
  transform: rotate(-30deg);
}

.upperActions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 13em 13em 13em 13em;
  background-color: #e6e6e6;
  width: 16em;
  height: 5.5em;
  margin-bottom: 1em;
}

.underAction {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 13em 13em 13em 13em;
  background-color: #e6e6e6;
  width: 16em;
  height: 5.5em;
}

.y {
  border: 0.1em solid black;
  width: 5em;
  height: 5em;
  margin-left: 0.3em;
  border-radius: 13em 13em 13em 13em;
  background-color: #2fb266;
}

.x {
  border: 0.1em solid black;
  width: 5em;
  height: 5em;
  margin-right: 0.3em;
  border-radius: 13em 13em 13em 13em;
  background-color: #5183da;
}

.b {
  border: 0.1em solid black;
  width: 5em;
  height: 5em;
  margin-left: 0.3em;
  border-radius: 13em 13em 13em 13em;
  background-color: #ffc82b;
}

.a {
  border: 0.1em solid black;
  width: 5em;
  height: 5em;
  margin-right: 0.3em;
  border-radius: 13em 13em 13em 13em;
  background-color: #f73b39;
}

.y:hover {
  background-color: #4df593;
}

.x:hover {
  background-color: #71a5ff;
}

.b:hover {
  background-color: #ffd86c;
}

.a:hover {
  background-color: #f36260;
}
